grafana.themelio.org {
  tls meade@themelio.org

  {{#if cfg.gzip.enabled ~}}
  gzip
  {{/if ~}}

  header / {
    Strict-Transport-Security "max-age=15768000"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
  }

  proxy / localhost:3000 {
    transparent
    policy round_robin
  }
}

www.grafana.themelio.org {
  redir 301 {
    https://grafana.themelio.org{uri}
  }
}